/* :root {
    margin: 0;
} */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    flex-grow: 1;

}

.container {
    background-color: white;
}

.search-input {

    /* margin-top: 20px;
    margin-bottom: 20px; */
    background-color: white;
    width: 350px;
    height: 25px;
    border-radius: 10px;
    padding: 5px;
    padding-left: 25px;
    border: 1px solid #b2b2b2;
    background: url("../images/search.svg") no-repeat left;
    background-size: 20px;
}

/* .search-icon {
    position: absolute;
    margin: auto;

} */

.shopping-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    padding: 100px;
}

.shopping-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #b2b2b2;
    width: 320px;
    margin: 5px;
    border-radius: 10px;
    background-color: white;
    padding: 10px;
}

.shopping-items:hover {
    box-shadow: 3px 6px #cccccc;
}

.shopping-title {
    height: 30px;
    font-size: 16px;
    font-weight: normal;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
    padding: 5px;
}

.shopping-img {
    max-width: 150px;
    height: 150px;
    padding-bottom: 5px;
    border: none;
}

.shopping-price {
    font-size: 18px;
    font-weight: bold;
}

.shopping-rate {
    font-size: smaller;
    font-weight: 250;
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border-bottom: 1px solid #e5e5e5;
    height: 80px;
}

.cart {
    /* position: absolute;
    float: right; */
    top: 20px;
    right: 0;
    background-color: white;
    width: 200px;
    padding: 0;
    margin: 8px;
}

.homepage {
    color: #595858;
    font-family: 'Copperplate';
    font-size: 36px;
    margin: 0 8px 0 25px;

    cursor: pointer;
}

/* .navbar {
    position: absolute;
    float: left;
    top: 30px;
    left: 0;
    background-color: white;
    width: 200px;
    padding: 0;
    margin: 0;
} */

.add-cart {
    background-color: #ffd300;
    height: 35px;
    border: none;
    color: #ffffff;
    text-shadow: 2px 2px #cccccc;
    font-weight: bold;
    cursor: pointer;
    width: 135px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.add-cart:hover {
    box-shadow: 3px 3px #cccccc;
}

.popup {
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-inner {
    width: 450px;
    height: 80%;
    background-color: white;
    border-radius: 10px;
    overflow: scroll;
}

.popup-header {
    height: 60px;
    background-color: #e5e5e5;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding-top: 15px;
    /* overflow: hidden;
    position: fixed;
    width: 450px; */

}

.close-btn {
    margin-left: 380px;
    font-size: 32px;
    background: none;
    border: none;
    color: #cccccc;

}

.close-btn:hover {
    cursor: pointer;
    color: #ffffff;
    ;
}

.btn-container {
    display: flex;
    flex-direction: row;
    margin: 10px 0 15px 0;
    align-items: center;
}

.dec-in-btn {
    width: 35px;
    border: none;
    margin: 10px;
    padding: 5px;
    background-color: #e5e5e5;
    cursor: pointer;
}

.quantity-p {
    width: 10px;
    font-size: 20px;
}

.price-total {
    color: #7f7f7f;
    margin: 30px 0 30px 0;
}

.popup-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: white;
    border: 1px solid #e5e5e5;
    width: 70px;
    height: 40px;
    cursor: pointer;
    border-radius: 10px;
    padding-top: 4px;
}

.cart-icon {
    width: 20px;
    font-size: large;
    margin-left: 5px;
}

.cart-quantity {
    width: 10px;
    margin: 1px 2px 0 5px;
    color: #b2b2b2;
    font-weight: lighter;
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.popup-img {
    width: 100px;
}

.empty-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    margin-top: 150px;
}

.popup-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #cccccc;
    margin: 15px;
    font-size: 12px;
    color: #7f7f7f;
}

.delete-cart-item {
    height: 50px;
    background: none;
    cursor: pointer;
    border: none;
}

.delete-img {
    padding: 2px;
    width: 30px;
}

.delete-img:hover {
    border-bottom: 1px solid #cccccc;
}

.card-wastebasket {
    height: 20px;
}

.wastebasket-btn {
    height: 30px;
    width: 40px;
    margin-right: 50px;
    border: none;
    background-color: #e5e5e5;
    cursor: pointer;
}

.wastebasket-btn:hover {
    box-shadow: 3px 3px #cccccc;
}

.add-btn-on-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 45%;
    background-color: #ffd300;
    margin-bottom: 5px;
}

.plus-minus {
    height: 30px;
    width: 40px;
    border: none;
    background-color: #f9e076;
    cursor: pointer;
    margin: 15px;
}

/* .plus-minus:hover {
    box-shadow: 1px 1px #e5e5e5;
} */

.quantity-on-card {
    font-size: medium;
    width: 10px;
    color: #7f7f7f;
}

.add-del-btn {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 15px;
}

.three-dots-option {
    position: relative;
    display: inline-block;
    margin-left: 305px;
}

.menu-btn {
    padding: 3px;
    width: 25px;
    height: 25px;
    background-color: white;
    border: none;
    font-size: 18px;
    font-weight: bolder;
    color: #7f7f7f;
    outline: 0;
}

.drop-down {
    background-color: white;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100px;
    z-index: 2;
    border: 1px solid rgba(0, 0, 0, 0.04);
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.14);
}

.drop-down>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.drop-down>ul>li {
    height: 20px;
    padding: 8px 12px;
}

li:hover {
    background-color: rgba(0, 0, 0, 0.14);
    cursor: pointer;
}

.menu-btn:hover {
    background-color: #cccccc;
    border-radius: 50%;
    cursor: pointer;
    color: white;
}

.detail-container {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.detail-img {
    width: 500px;
    border: 1px solid #b2b2b2;
    padding: 20px;
}

.detail-img>img {
    width: 300px;
}

.detail-info {
    width: 50%;
    border: 1px solid #b2b2b2;
    margin: 50px;

}

.detail-price {
    border: 1px solid #b2b2b2;

}

.detail-description {
    border: 1px solid #b2b2b2;

}

.detail-back-btn {
    width: 50px;
    height: 50px;
}

.menu {
    margin: 80px 0 0px 20px;
    padding: 19px 16px 29px 26px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 0;
    background-color: #ffd300;
    width: 100%;

}

.bar-span {
    width: 38px;
    background-color: #fff;
    height: 5px;
    display: block;
    margin-bottom: 4px;
    cursor: pointer;
    border-radius: 15px;
}

/* 
.menu span:first-child:active {
    transform: rotate(45deg);

}

.menu span:third-child:active {
    transform: rotate(-45deg);

} */

.open-menu {
    left: 0;
    position: relative;
}



.sidebar-inner li {
    list-style: none;
    border-bottom: 1px solid #cccccc;
}

/* .menu span:first-child:hover {
    transform: rotate(45deg);
}

.menu span:last-child:hover {
    transform: rotate(-45deg);
    transition-duration: 0.5s;
} */


.menu span:last-child {
    margin-bottom: 0px;
}

.sidebar-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: white;
    overflow: scroll;
    left: 0;
    height: 100%;
    width: 300px;
    padding: 50px;
}

.sidebar-inner li {
    padding: 5px;
    margin: 30px;
}

.sidebar-close-btn {
    position: absolute;
    top: 10px;
    left: 350px;
    font-size: 26px;
    background: none;
    border: none;
    color: #b2b2b2;
    cursor: pointer;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: max-content;
    color: #ffffff;
    border-top: 1px solid #e5e5e5;
    background-color: #595858;
    bottom: 0;
    left: 0;
    /* margin-top: 100px; */
    margin: auto 0;
}

.footer-container li {
    list-style: none;
}